@import "../scss/plugin";
.word-list{
    padding: 20px 10px 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .word-item{
        position: relative;
        @include border-radius(10px);
        font-size: 24px;
        cursor: pointer;
        padding: 8px 15px;
        line-height: 1;
        color: white;
        &:hover{
            background-color: transparentize(white, 0.9);
            .translation-panel {
                display: block;
            }
        }
        &:active{
            background-color: transparentize(white, 0.5);
        }
        &.known{
            color: transparentize(white, 0.8);
        }
        &.uncertain{
            color: $green;
            //color: $orange;
        }

        .word{
            @extend .unselectable;
            // Add any specific styles for the word if needed
        }

    }
}

.translation-panel{
    //border: 1px solid transparentize(white, 0.9);
    border: 1px solid transparentize(white, 0.7);
    min-width: 300px;
    color: white;
    z-index: 100;
    padding: 5px 5px;
    @include border-radius(9px);
    background-color: transparentize(black, 0.2);
    backdrop-filter: blur(10px);
    line-height: 1.3;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1rem;
    display: none; // Hide translation by default
}

.sentence-list{
    padding: 5px;
}

.sentence-item{
    @include border-radius(5px);
    border: 1px solid transparentize(white, 0.9);
    padding: 3px 5px;
    background-color: transparentize(white, 0.95);
    margin-bottom: 6px;
    text-align: left;
    &:last-child{
        margin-bottom: 0;
    }
    .sentence-en{
        margin-bottom: 3px;
        line-height: 1.3;
        font-size: 1rem;
        font-family: Arial, sans-serif;
    }
    .sentence-cn{
        color: $text-subtitle;
        font-size: 0.9rem;
    }
}

.translation-list{
}
.translation-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .type{
        width: 30px;
        flex-shrink: 0;
        color: $green;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .translation{
        flex-grow: 1;
        text-align: left;
    }
}



.select-container {
    background-color: white;
    z-index: 999;
    text-align: center;
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px;
    @include border-radius(10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-wrapper{
    display: flex;
    justify-content: space-around;
    .btn{
        flex-grow: 1;
        &:first-child{
            margin-right: 5px;
        }
        &:last-child{
            margin-left: 5px;
        }
    }
}

.info-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    .info-item{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .count{
            font-size: 20px;
            font-family: 'Galvji', sans-serif;
        }
        .label{
            font-size: 13px;
        }
    }
}

@import "bootstrap-btn-form";